# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea

# pyenv, virtualenv artifacts.
.python-version

# Environments
.venv_meridian/

# Compiled style.css
meridian/analysis/templates/style.css

# .pkl files
sandbox/*/*.pkl
examples/*/*.pkl

# .pkl files
sandbox/*/*.json
